<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Prova TFG</title>
		<!-- Import Styles -->
		<link rel="stylesheet" href="./assets/styles.css" />
		<script src="https://unpkg.com/vue@next"></script>
	</head>
	<body>
		<div id="quiz">
			<h1> Quiz </h1>
			<div v-for="(question,index) in quiz.questions">
				<div v-show="index === questionIndex">
					<h2>{{ question.text }}</h2>
					<ol >
						<li class=question_list v-for="response in question.responses">
							<label>
								<input type="radio" 
									v-bind:value="response.correct" 
									v-bind:name="index" 
									v-model="u_responses[index]"> {{response.text}}
							</label>
						</li>
					</ol>
					<div class="btn-section" >
					  <button  v-on:click="next">
						Next question
					  </button>
					</div>
				</div>
			</div>
			<div v-show="questionIndex === quiz.questions.length">
				<h2>Congrats! You finished the quiz</h2>
					<div v-if="total_score< 1">
						<h2>Here's some tips you can use to identify fake photos</h2>
						<div class="btn-section" >
							<button v-on:click="changePage(sections[0])">{{ sections[0] }}</button>
						</div>
					</div>
					<div v-else>
						<h2>Let's play!</h2>
						<div class="btn-section" >
							<button v-on:click="changePage(sections[1])">{{ sections[1] }}</button>
						</div>
					</div>
				
				<!--<p>
					Total score: {{ total_score }} 
				</p>-->
			</div>
			
		</div>
		
		<!-- Import App -->
		<script src="./components/Quiz.js"></script>
		<script> const mountedApp = quiz.mount('#quiz') </script> 
	</body>
</html>