div{
    margin: auto;
    text-align: center;
    border: 3px solid green; /*es treurà , es per veure les divisions*/
}
.btn-section{
  margin: auto;
  width: 70%;
  border: 3px solid green; /*es treurà , es per veure les divisions*/
  padding: 10px;
}
.btn-section button {
    background-color: #4c82af; /* Green background */
    border: 1px solid rgb(0, 77, 128); /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    
    margin: auto;
    margin-bottom: 20px;
    width: 50%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    border-radius: 25px;
}
  
.btn-section button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}
  
 /* Add a background color on hover */
.btn-section button:hover {
 background-color: #5c67c5;
}

h1 {
    font-size: 50px;
}

